{% extends "base.html" %}

{% block content %}

<div class="container my-3">
    <h1 class="text-center">Course Statistics</h1>
</div>
<div class="container my-5">
    <h2 class="text-center"> {{ course.coursename }} rounds played: {{rounds.count()}} </h2>
    {% set holes = course.get_holes() %}
    <table class="table table-inverse table-bordered">
        <thead>
            <tr>
                <th scope="col">Hole</th>
                {% for hole in holes %}
                    <th scope="col">{{hole.holenum}}</th>
                {% endfor%}
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Par</th>
                {% for hole in holes %}
                    <td class="table-active" scope="col">{{hole.holepar}}</td>
                {% endfor%}
                <td scope="col">{{course.get_coursepar()}}</td>
            </tr>
            <tr>
                <th scope="col">Mean</th>
                {% for hole in holes %}
                    <td scope="col">{{course.get_holemean(current_user.id, hole.holenum)}}</td>
                {% endfor%}
                <td scope="col">{{course.get_roundmean(current_user.id)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container my-3">
    <h2 class="text-center">Past Rounds</h2>
    {% if rounds.count() == 0 %}
    <p class="text-center">
        No past rounds. You can start round <a href="{{ url_for('createround') }}">here</a>
    </p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Par</th>
                <th scope="col">Date</th>
                <th scope="col">Weather</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% for round in rounds %}
            <tr>
                <td>{{ round.get_coursename() }}</td>
                <td>{{round.get_totalscorepar()}}</td>
                <td>{{ round.get_date() }}</td>
                <td><img src="{{ round.get_weatherurl() }}" alt="weather icon"></td>
                <td><a class="badge badge-info" href="{{ url_for('roundview', roundid = round.id)}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}