<html>

<head>
    {% if title %}
    <title>{{ title }} - Disc Golf CaddyBook</title>
    {% else %}
    <title>Welcome to Disc Golf CaddyBook</title>
    {% endif %}
</head>

<body>
    <div>
        Disc Golf CaddyBook: 
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('courses') }}">Courses</a>
        <a href="{{ url_for('createround') }}">Start new round</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>