{% extends "base.html" %}

{% block content %}
<h1>Create new course</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.coursename.label }}<br>
        {{ form.coursename(size=64) }}<br>
        {% for error in form.coursename.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.courseholes.label }}<br>
        {{ form.courseholes(size=2) }}<br>
        {% for error in form.courseholes.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>    
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}