{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}</h1>
    <h2>Past Rounds</h2>
    
    {% if rounds.count() == 0 %}
        <div>
            <p>
                No past rounds. You can start round <a href="{{ url_for('createround') }}">here</a>
            </p>   
        </div>
    {% else %}
        <div>
            {% for round in rounds %}
            <div>
                <p>{{ round.get_coursename() }} / 
                    date:{{ round.get_date() }} /  
                    weather: <img src= "{{ round.get_weatherurl() }}" alt="weather icon">
                    <a href="{{ url_for('roundview', roundid = round.id)}}">View</a>
                </p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}
