{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}
{% block content %}
<div class="row h-100">
    <div class="col-md-6 h-75 mx-auto my-auto">
        <h1 class="text-center">LOG IN</h1>
        <div class="col-md-4 mx-auto">
            <form method="post">
                {{ form.csrf_token() }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.submit) }}
            </form>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </div>
    </div>
</div>
{% endblock %}